{% extends 'base.html.twig' %}
{% block title %}<title>{% trans %}A propos du Chant de la Machine{% endtrans %}</title>{% endblock %}
{% block style %}
{{ encore_entry_link_tags("admin") }}
{{ encore_entry_link_tags('account') }}
{{ encore_entry_link_tags('public') }}
{% endblock %}
{% block body %}
<section class="about">
    <div class="text_about">
        <h1 class="subtitle">{% trans %}A propos du Chant de la Machine{% endtrans %}</h1>
        <p>
            {% trans %}abouttext{% endtrans %}
        </p>
    </div>
    {% include 'include/contactForm.html.twig' with {'form': form} %}
</section>
{% endblock %}