{% extends 'base.html.twig' %}
{% block title %}<title>{% trans %}Contacter le Chant de la Machine{% endtrans %}</title>{% endblock %}
{% block style %}
{{ encore_entry_link_tags("admin") }}
{{ encore_entry_link_tags("account") }}
{{ encore_entry_link_tags("public") }}
{% endblock %}
{% block body %}
{% include 'include/contactForm.html.twig' with {'form': form} %}
{% endblock %}