#account_form, #reset_password, #sigin_form, #reset_mail, #contact_form{
    max-width: 480px;
    margin: auto;
    padding: 100px 0 0 0;
}

a.blue-link{
    color:#78d3f0;
}

.account_panel{
    width: calc(100% - 20px);
    height: 210px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

svg[data-icon="long-arrow-alt-left"]{
    color: white;
}

svg{
    width: 30px;
    color:rgb(64,64,64);
}

.name_surname, .mail, .password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
}

.status{
    display: flex;
    padding: 5px 0;
    margin: 5px 0;
}

.can_modify{
    margin: 0px 15px;
    background-color: rgb(211,211,211);
    display: inline-block;
    width: calc(100% - 20px);
    color: #404040;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.account_status{
    margin: 10px;
    font-weight: bolder;
}