@media screen and (max-width: 600px){
    /***************
    *    ARTICLE   *
    ****************/
    #article_cover{
        height: 500px;
    }

    .article_image_cover{
        height: 500px;
    }

    .article_cover_title{
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    .article_cover_title h1{
        font-size: 1.8rem;
    }

    .date_event p{
        font-size: 1rem;
    }

    #article_body{
        flex-direction: column;
        padding: 1.5rem;
    }

    #txt{
        flex-basis: unset;
        font-size: .9rem;
    }

    #music{
        flex-basis: unset;
    }

    .widget_SC{
        width: calc(100% - 10px);
        background-color: unset;
        box-shadow: unset;
    }

    .widget_SC iframe {
        margin: 7px auto;
    }

    .hes-gallery img {
        width: 100%;
        height: 200px;
    }
}