
/*********************
*    COVER ARTICLE   *
**********************/

#article_cover{
    width: 100%;
    max-width: 1500px;
    height: 600px;
    margin: auto;
}

.incover{
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
}

.article_image_cover{
    width: 100%;
    height: 600px;
    box-shadow: 0 2px 5px black;
    position: absolute;
}

.article_cover_title{
    position: sticky;
    display: inline-block;
    width: 52%;
    top: 100px;
    z-index: 2;
}

.article_cover_title h1{
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 10px black;
    max-width: 1500px;
    margin: 0 0 0 5px;
}

.date_event{
    max-width: 1500px;
    margin: 10px auto;
}

.date_event p{
    font-size: 1.5rem;
    padding: 7px;
    display: inline-block;
    color: white;
    background-color: var(--blue);
}

/*************************
*   SECTION TXT ET SC    *
**************************/
#article_body{
    max-width: 1500px;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#txt{
    text-align: justify;
    flex-basis: 52%;
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    font-size: 1.1rem;
    line-height: 150%;
}

#txt h2{
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 50px 0;
}

#music{
    flex-basis: 42%;
    height: 100%;
    position: sticky;
    top: 100px;
}

#music h2{
    display: block;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--blue);
    color: white;
    border-radius: 3px;
    padding: 10px 0;
    margin: 10px 4px;
}

#widget_SC{
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    margin: auto;
    width: calc(100% - 30px);
    animation: scaleBlur 1s;
}

#widget_SC iframe{
    margin: auto;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: var(--blue);
    opacity: 0.9;
    border-radius: 2px;
    transition: .5s ease;
}