@media screen and (max-width: 900px){
    /************
    *	NAVBAR	*
    *************/
    nav{
        width: calc(100%);
        padding: 0;
    }

    nav ul{
        display: none;
        flex-direction: column;
        align-items: center;
        background: var(--blue);
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
    }

    #ico_burger{
        padding: 10px;
        width: 33px;
        color: white;
        margin: 0px 10px;
        cursor: pointer;
        display: block;
    }

    #logo_header {
        width: 2.3rem;
    }

    .item_menu{
        width: 100%;
        height: 50px;
        border-bottom: 2px solid white;
    }

    .item_menu:last-child{
        margin: 0;
    }

    .item_menu.label_menu{
        display: none;
    }

    .item_menu.label_menu_minwidth{
        display: flex;
    }

    #login_btn{
        width: 100%;
    }

    #background_modal{
        z-index: 1;
    }

    /****************
    *	POPUP MENU	*
    *****************/
    .sign_in_form{
        width: 200px;
    }

    /************
    *	TITLES	*
    *************/
    .member_images{
        font-size: 2rem;
    }
    
    /************
    *	VIDEO	*
    *************/
    .youtube_videos iframe {
        height: 250px;
    }

    /***************
    *   GALLERY *
    **************/
    .hes-gallery{
        justify-content: center;
    }

    /************
    *	FOOTER	*
    *************/
    footer{
        justify-content: center;
        align-items: center;
    }

    .footer_card{
        width: 170px;
    }

    #logo_footer {
        height: 100px;
    }

    .logo_footer{
        align-items: flex-end;
    }

    #logo_footer_name{
        font-size: 1.3rem;
    }

    /************************
    *   HOME PUBLIC INDEX   *
    *************************/
    .welcome_view {
        height: 600px;
    }
    
    .moving_title{
        font-size: 2rem;
        top: 100px;
        padding: 0 0 0 30px;
    }
}