/************
* CSS RESET *
*************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #404040;
	min-height: calc(100vh - 220px);
	min-width: 320px;
}

ol, ul {
	list-style: none;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: white;
}

label{
	color: white;
}

a:hover{
	text-decoration: none;
}

button{
	cursor: pointer;
	background: none;
}

img{
	cursor: pointer;
	object-fit: cover;
}

/************
*	COLOR	*
*************/
/*
:root{
	--white: #29D855;
	--black: #0D0D0D;
	--red: #A60320;
	--blue: #6C2EF3;
	--grey: #2A1C8B;
}

:root{
	--black: #5118A3;
	--grey: #2A1C8B;
	--red: #6E1799;
	--blue: #182BA3;
	--white: #174A99;
}
*/

:root{
	--grey: #8C8C88;
	--red: #A6774E;
	--white: #F2B279;
	--blue:#404040;
	--black: #0D0D0D;
}

/************
*	NAVBAR	*
*************/
header{
	display: flex;
	justify-content: center;
}

.undernav{
	height: 90px;
	widows: 100%;
}

nav{
	position: fixed;
    height: 70px;
    width: calc(100% - 4rem);
    max-width: 1500px;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.12rem;
    font-weight: bold;
    z-index: 5;
	margin: auto;
	text-shadow: 0 0 5px black;
	background-color: rgba(0,0,0,0.5);
}

#logo_header{
	width: 3.3rem;
	filter: invert();
	animation: rotate360 2s linear;
	margin: 0 0 0 15px;
}

nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item_menu{
	width: 120px;
	height: 70px;
    display: flex;
    justify-content: center;
	align-items: center;
	transition: .5s ease;
}

.label_menu_minwidth{
	display: none;
}

.item_menu:hover{
	background-color: rgba(255,255,255,0.3);
}

.btn_dropdown_menu{
	display: block;
	width: 100%;
	height: 70px;
	font-weight: bolder;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
}

.item_menu img{
	width: 30px;
	filter: invert();
}

.item_menu img:hover{
	filter: initial;
}

.item_menu:last-child{
	margin: 0 15px 0 0;
	font-size: 1.5rem;
	margin-top: 0;
}

.link_menu{
	display: block;
	font-weight: bolder;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	width: 100%;
}

.dropdown_menu{
	height: 140px;
	width: 120px;
	display: none;
	flex-direction: column;
	position: absolute;
}

.link_dropdown_menu{
    height: 70px;
	display: block;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
	transition: .5s ease;
	position: relative;
	top: 35px;
}

.link_dropdown_menu:hover{
	background-color: rgba(255,255,255,0.3);
}

#login_btn{
	padding: 0px;
	cursor: pointer;
}

#login_btn .dropdown_menu:last-child{
	right: 10px;
	top: 110px;
}

/****************
*	POPUP MENU	*
*****************/
#background_modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

.popup_menu{
	width: 100%;
    max-width: 1500px;
    position: relative;
}

.sign_in_form{
    display: none;
    flex-direction: column;
    position: absolute;
    text-shadow: none;
    z-index: 10;
    background-color: white;
    margin: 20px;
    right: 0;
    top: 0;
}

.sign_in_form label{
	color: black;
}

.sign_in_form form{
	padding: 10px;
}

.sign_in_form .btn_more{
	padding: 5px;
}

.form_row{
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	margin: 10px;
}

.form_row input{
	padding: 5px;
    margin: 7px 0 0 0;
    background-color: var(--grey);
}

a.admin_menu{
	height: 20px;
	width: 200px;
	padding: 10px 0;
	color: var(--blue);
	text-align: center;
	text-shadow: none;
	font-size: 1.2rem;
	transition: .5s ease;
	border: 1px solid black;
}

.admin_menu:hover{
	background-color: var(--blue);
	color: white;
}

#ico_burger{
	display: none;
}

/***********
*   BODY   *
************/
#welcome_cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
	height: auto;
	max-width: 1500px;
	margin: auto;
}

/************
*	TITLES	*
*************/
.part_title{
	padding: 1.5rem;
	height: auto;
	max-width: 1500px;
	margin: 35px auto 20px auto;
	font-weight: bold;
	text-align: center;
	font-size: 3rem;
	color: white;
    text-shadow: 0 0 5px black;
}

.subtitle{
	font-weight: bold;
	display: inline-block;
	text-align: center;
	font-size: 2rem;
	margin: 20px 0;
	color: white;
}

/************
*   CARDS   *
*************/
.welcome_card{
    width: 300px;
    margin: 0.6rem;
    box-shadow: 0 0 2px var(--black);
    background-color: white;
	animation: scaleBlur 1s ease;
	border-radius: 2px;
}

.in_card_welcome{
    display: flex;
    flex-direction: column;
}

.col_wel_img{
    width: 100%;
    overflow: hidden;
}

.col_wel_img img{
	width: 100%;
	height: 220px;
}

.col_wel_txt{
    flex-basis: auto;
    text-align: justify;
}

.col_wel_txt_body{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    overflow: hidden;
}

.col_wel_txt_body h5{
    margin-bottom: .75rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.col_wel_txt_body p{
    margin-bottom: 1rem;
}

.col_wel_txt_body button{
    display: inline;
}

/************
*	GALLERY	*
*************/
.hes-gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 3px;
}

.hes-gallery img{
	width: 200px;
	height: 150px;
	margin: 10px 5px;
	box-shadow: 0 0 2px black;
	transition: .5s ease;
	filter: grayscale(60%);
}

.hes-gallery img:hover{
	transform: translateY(-5px);
	filter: inherit;
}

/************
*   BUTTON  *
*************/
.buttons{
    display: flex;
    flex-basis: 45%;
	justify-content: space-between;
	font-weight: bold;
}

.buttons a:hover{
	background-color: var(--grey);
	color: white;
}

.a_btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 35px;
	width: 100px;
	font-weight: bold;
    box-shadow: 0 0 2px black;
	border-radius: 2px;
	cursor:pointer;
	transition: .3s ease;
}

.a_btn:hover{
	transform: scale(1.05);
	color: white;
	box-shadow: initial;
}

.a_btn:active{
	transform: scale(1);
}

.btn_more{
    text-align: center;
    background-color: #3498db;
}

.btn_modify{
    text-align: center;
    background-color: var(--white);
}

.btn_del{
	text-align: center;
    background-color: red;
}

.back_arrow{
	width: 40px;
    display: block;
    padding: 5px;
	transition: .5s ease;
}

.back_arrow:hover{
	transform:scale(1.1);
}

.back_arrow:focus{
	transform:scale(1);
}

/********************
*   SOCIAL NETWORK  *
*********************/
.contact_socials{
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.socials_logo{
	padding: 0 10px;
	transition: .5s ease;
}

.socials_logo:hover{
	transform: scale(1.05);
}

.socials_logo:first-child{
	padding: 0 10px 0 0;
}

.socials_logo img{
	width: 50px;
	height: 36px;
	object-fit: scale-down;
	filter: invert();
}

.socials_logo img[alt="logo email"]{
	width: 40px;
	height: 36px;
}

.socials_logo img[alt="logo soundcloud"]{
	width: 57px;
    height: 45px;
}

.socials_logo img[alt="logo facebook"]{
	width: 42px;
    height: 42px;
}

.socials_logo img[alt="logo instagram"]{
	width: 45px;
    height: 45px;
}

/********************
*	FLASH MESSAGES	*
*********************/
.flash-success, .flash-fail, .flash-info{
	width: 100%;
	max-width: 1500px;
	height: 70px;
	position: sticky;
	top: 0px;
    z-index: 1;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
}

.flash-success{
    background-color: lightgreen;
}

.flash-fail{
	background-color: lightcoral;
}

.flash-info{
	background-color: lightskyblue;
}

#datetime_article{
    margin: 5px;
    display: inline-block;
}

.onelinetxt{
    padding: 0 5px;
}

/************
*	FOOTER	*
*************/
footer{
	width: 100%;
    max-width: 1500px;
    margin: 100px auto 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_card{
	height: 150px;
	width: 200px;
	padding: 20px;
	margin: 30px 10px;
	background-color: rgba(255,255,255,0.2);
	color: white;
	text-shadow: 0 0 3px black;
	border-radius: 3px;
}