@media screen and (max-width: 600px){
    /************
    *   NAVBAR  *
    *************/
    nav ul{
        margin: 10px;
        width: calc(100% - 20px);
    }

    .item_menu{
        height: 50px;
        border-top: 2px solid white;
    }

    /****************
    *	POPUP MENU	*
    *****************/
    .sign_in_form{
        margin: 10px;
        box-shadow: 0 0 10px black;
        width: calc(100% - 20px);
    }

    a.admin_menu{
        width: 100%;
        height: 44px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /********************
    *	FLASH MESSAGES	*
    *********************/
    .flash-success, .flash-info, .flash-fail{
        width: calc(100% - 95px);
        padding: 0 45px 0 50px;
        text-align: center;
    }

    /************************
    *   HOME PUBLIC INDEX   *
    *************************/
    .welcome_view{
        height: 600px;
    }

    .moving_title{
        top: 90px;
        padding: 0;
        text-align: center;
    }

    #datetime_article{
        margin: 15px 0;
    }

    .onelinetxt{
        padding: 5px 0;
    }

    /*************
    *   GALLERY *
    *************/
    .hes-gallery img {
        width: 100%;
        height: 200px;
    }
}