/************
* CSS RESET *
*************/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #404040;
	min-height: calc(100vh - 220px);
	min-width: 320px;
	font-family: var(--font_text);
}

ol, ul {
	list-style: none;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: white;
}

label{
	color: white;
}

a:hover{
	text-decoration: none;
}

button{
	cursor: pointer;
	background: none;
	font-style: var(--font_text);
}

img{
	cursor: pointer;
	object-fit: cover;
}

.white_text{
	color: white;
}

/************
*	COLOR	*
*************/
/*
:root{
	--white: #29D855;
	--black: #0D0D0D;
	--red: #A60320;
	--blue: #6C2EF3;
	--grey: #2A1C8B;
}

:root{
	--black: #5118A3;
	--grey: #2A1C8B;
	--red: #6E1799;
	--blue: #182BA3;
	--white: #174A99;
}
*/

:root{
	--grey: #8C8C88;
	--red: #A6774E;
	--white: #F2B279;
	--blue:#404040;
	--black: #0D0D0D;
	--font_title: 'Teko', sans-serif;
	--font_text: 'Noto Sans TC', sans-serif;
}

/************
*	NAVBAR	*
*************/
header{
	display: flex;
	justify-content: center;
}

.undernav{
	height: 90px;
	widows: 100%;
}

nav{
	position: fixed;
    height: 70px;
	width: 100%;
	padding: 0 20vw;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.12rem;
    font-weight: thin;
    z-index: 5;
	margin: auto;
	text-shadow: 0 0 5px black;
	background-color: rgba(0,0,0,0.5);
}

#logo_header{
	display: flex;
	align-items: center;
	font-weight: 800;
}

#logo_header img{
	width: 2.8rem;
	filter: invert();
	animation: rotate360 2s linear;
	margin: 0px 20px;
}

nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item_menu{
	width: 140px;
    display: flex;
    justify-content: center;
	align-items: center;
	transition: .5s ease;
}

.label_menu_minwidth{
	display: none;
}

.item_menu:hover{
	background-color: rgba(255,255,255,0.3);
}

.btn_dropdown_menu{
	display: block;
	width: 100%;
	height: 70px;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	font-size: 1.12rem;
    font-weight: thin;
}

.item_menu img{
	width: 30px;
	filter: invert();
}

.btn_locale{
	width: 70px;
}

.btn_locale:hover{
	background-color: unset;
}

.btn_locale img{
	width: 35px;
	height: 20px;
	transition: .5s ease;
	filter: unset;
}

.btn_locale:hover img{
	transform: scale(1.1);
}

.item_menu:last-child{
	margin: 0;
	font-size: 1.5rem;
	margin-top: 0;
	width: 80px;
}

.link_menu{
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	width: 100%;
	height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu{
	height: 140px;
	width: 140px;
	display: none;
	flex-direction: column;
	position: absolute;
}

.link_dropdown_menu{
    height: 70px;
	display: block;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
	transition: .5s ease;
	position: relative;
	top: 35px;
}

.link_dropdown_menu:hover{
	background-color: rgba(255,255,255,0.3);
}

#login_btn{
	padding: 0px;
	cursor: pointer;
}

#login_btn:hover{
	background-color: unset;
}

#login_btn .dropdown_menu:last-child{
	right: 10px;
	top: 110px;
}

img[alt="Soundcloud ico"]{
	filter:invert(1);
}

/****************
*	POPUP MENU	*
*****************/
#background_modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

.popup_menu{
	width: 100%;
    max-width: 1500px;
    position: relative;
}

.sign_in_form{
    display: none;
    flex-direction: column;
	position: fixed;
    text-shadow: none;
    z-index: 10;
    background-color: var(--blue);
    margin: 20px;
    right: 0;
    top: 0;
}

.sign_in_form label{
	color: white;
}

.sign_in_form form{
	padding: 10px;
}

.sign_in_form .btn_more{
	padding: 5px;
}

.form_row{
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	margin: 10px;
}

.form_row input{
	padding: 5px;
    margin: 7px 0 0 0;
    background-color: white;
}

a.admin_menu{
	height: 20px;
	width: 200px;
	padding: 10px 0;
	color: white;
	text-align: center;
	text-shadow: none;
	font-size: 1.2rem;
	font-weight: bolder;
	border: 1px solid black;
	transition: .5s ease;
}

.admin_menu:hover{
	background-color: white;
	color: var(--blue);
}

#ico_burger{
	display: none;
}

.personal_info_menu{
	color: #404040;
    padding: 15px;
    background-color: white;
    width: 170px;
	border: 1px solid black;
	line-height: 20px;
	text-align:center;
}

.personal_info_menu_logo{
	display: flex;
	justify-content: space-around;
}

.personal_info_menu_logo svg{
    width: 30px;
    margin: 15px 0 0 0;
    color: #404040;
    padding: 7px;
    transition: .5s ease;
}

.personal_info_menu_logo svg:hover{
	color: white;
    background-color: #404040;
}

.close_modal_btn{
	cursor: pointer;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: absolute;
    width: calc(100% - 5px);
    padding: 5px 5px 0 0;
}

.close_modal_btn svg{
	width: 15px;
    color: #404040;
    height: 15px;
    padding: 5px;
}

.close_modal_btn svg:hover{
	color: white;
    background-color: #404040;
}

/***********
*   BODY   *
************/
#welcome_cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
	height: auto;
	max-width: 1500px;
	margin: auto;
}

/************
*	TITLES	*
*************/
.part_title{
	padding: 1.5rem;
	height: auto;
	max-width: 1500px;
	margin: 35px auto 20px auto;
	font-weight: bold;
	text-align: center;
	font-size: 3rem;
	color: white;
	text-shadow: 0 0 5px black;
	font-family: var(--font_title);
}

.subtitle{
	font-weight: bold;
	display: inline-block;
	text-align: center;
	font-size: 2rem;
	margin: 20px 0;
	color: white;
	font-family: var(--font_title);
}

/************
*   CARDS   *
*************/
.welcome_card{
    width: 300px;
    margin: 0.6rem;
    box-shadow: 0 0 5px black;
    background-color: white;
    animation: scaleBlur 1s ease;
    border-radius: 2px;
    overflow: hidden;
}

.in_card_welcome{
    display: flex;
    flex-direction: column;
}

.col_wel_img{
	width: 100%;
	height: 240px;
	overflow: hidden;
	position: relative;
}

.col_wel_img img{
	width: 100%;
	height: 240px;
}

.col_wel_txt{
	flex-basis: auto;
	display: flex;
    align-items: flex-end;
    justify-content: center;
	text-align: justify;
	position: absolute;
    background: rgba(0,0,0,.5);
    color: white;
    width: 100%;
    bottom: 0;
	top: 0;
	transition: 1s ease;
}

.in_card_welcome:hover .col_wel_txt {
	transform: translateY(250px);
	opacity: 0;
}

.col_wel_txt_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1.25rem;
	overflow: hidden;
	align-items: flex-start;
    width: 100%;
}

.col_wel_txt_body h5{
    margin-bottom: .75rem;
	font-weight: bold;
	font-family: var(--font_title);
	font-size: 1.5rem;
	text-align: start;
}

.col_wel_txt_body p{
    margin-bottom: 1rem;
}

.col_wel_txt_body button{
    display: inline;
}

/************
*	GALLERY	*
*************/
.hes-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 3px;
}

.hes-gallery img{
	width: 190px;
    height: 140px;
	margin: 10px 5px;
	box-shadow: 0 0 2px black;
	filter: grayscale(100%);
	border-radius: 4px;
	transition: .5s ease;
}

.hes-gallery img:hover{
	transform: translateY(-5px);
	filter: unset;
}

/************
*   BUTTON  *
*************/
.buttons{
    display: flex;
    flex-basis: 45%;
	justify-content: center;
	font-weight: bold;
}

.buttons a:hover{
	background-color: var(--grey);
	color: white;
}

.a_btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgba(0,0,0,0.8);
	height: 35px;
	width: 110px;
	font-weight: bold;
	cursor:pointer;
	transition: .3s ease;
}

.a_btn:hover{
	border: 2px solid white;
	box-shadow: 0 0 3px white;
}

.a_btn:active {
	transform: scale(0.95);
}

.btn_more {
    border: 2px solid #4694EB;
}

.btn_modify {
	border: 2px solid khaki;
}

.btn_del{
	border: 2px solid red;
}

.btn_more:hover{
    text-align: center;
}

.btn_modify:hover{
    text-align: center;
}

.btn_del:hover{
	text-align: center;
}

.back_arrow{
	width: 40px;
    display: block;
    padding: 5px;
	transition: .5s ease;
}

.back_arrow:hover{
	transform:scale(1.1);
}

.back_arrow:focus{
	transform:scale(1);
}

/********************
*   SOCIAL NETWORK  *
*********************/
.contact_socials{
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.socials_logo{
	padding: 0 10px;
	transition: .5s ease;
}

.socials_logo:hover{
	transform: scale(1.05);
}

.socials_logo:first-child{
	padding: 0 10px 0 0;
}

.socials_logo img{
	width: 50px;
	height: 36px;
	object-fit: scale-down;
	filter: invert();
}

.socials_logo img[alt="logo email"]{
	width: 40px;
	height: 36px;
}

.socials_logo img[alt="logo soundcloud"]{
	width: 57px;
    height: 45px;
}

.socials_logo img[alt="logo facebook"]{
	width: 42px;
    height: 42px;
}

.socials_logo img[alt="logo instagram"]{
	width: 45px;
    height: 45px;
}

/********************
*	FLASH MESSAGES	*
*********************/
.flash_message{
	position: fixed;
	top: 70px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	width: 100%;
	animation: slideDownBlur 1s ease-out;
}	

.flash-success, .flash-fail, .flash-info{
	border-radius: 3px;
	padding: 20px;
}

.flash-success{
	background-color: lightgreen;
}

.flash-fail{
	background-color: lightcoral;
}

.flash-info{
	background-color: lightskyblue;
}

/************
*	VIDEO	*
*************/
.youtube_videos iframe{
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}

/************
*	DATE	*
*************/

#datetime_article{
    display: inline-block;
}

.onelinetxt{
	padding: 0 5px;
	color:white;
}

/************
*	FOOTER	*
*************/
footer{
	width: 100%;
	padding: 60px 0;
	margin: 150px 0 0 0;
	background-color: rgba(255,255,255,0.2);
}

.footer{
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
}

.footer_element{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 50%;
}

.logo_footer{
	align-items: center;
	justify-content: flex-end;
}

.footer_card{
	width: 200px;
    margin: 30px 0;
    color: black;
    border-radius: 3px;
}

#logo_footer{
	object-fit: cover;
	height: 175px;
}

#logo_footer_name{
	font-size: 2.2rem;
	font-family: var(--font_title);
    font-weight: 700;
	width: 38%;
	margin-left: 30px;
}

.footer h2{
	margin: 10px 0 0 0;
}

.footer h3{
	margin: 12px 0 5px 0;
	font-size: 0.9rem;
    font-weight: 100;
}

.footer li{
	margin: 5px 0 0 5px;
}

.footer_card p{
	font-size: 0.8rem;
	line-height: 15px;
}

.footer_card a{
	color:#b3bcbf;
	font-size: 0.8rem;
	transition: .5s ease;
}

.footer_card a:hover{
	color: white;
}