/************
*   FORM    *
*************/
#edit_post{
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem;
}

.form-group{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.form-group input{
    padding: 5px;
    background-color: LightGrey;
}

.row{
    display: flex;
    flex-direction: row;
}
/************
*   GALLERY *
*************/
.hes-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}

.edit_image{
    padding: .75rem;
    height: 200px;
}

.edit_image img{
    width: 200px;
    cursor: zoom-in;
    box-shadow: 0 0 2px black;
}


.btn_del_pictures{
    display: none;
    position: relative;
    top: -50px;
    left: 150px;
    width: 35px;
    margin: 0;
}

.btn_del_pictures i{
    color: red;
    font-size: 2.5rem;
}

.btn_del_pictures i:hover{
    transform: scale(1.15);
}

.edit_image:hover .btn_del_pictures{
    display: flex;
    cursor: pointer;
}