@media screen and (max-width: 600px){
    /****************
    *   POST EDIT   *
    *****************/
    #edit_post{
        padding: 0 5px;
    }

    form[name="article"]{
        flex-direction: column;
    }

    #delete_article_btn {
        justify-content: flex-start;
        margin: 0 10px 10px 10px;
        width: calc(100% - 20px);
    }

    .sticky_edit_menu {
        width: 100%;
        top: 80px;
    }

    .see_and_delete{
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
    }

    .see_and_delete .form-group{
        margin: 0;
    }

    .main_form {
        width: 100%;
    }

    #list_sc{
        padding: 0px 15px 0 0;
        margin: 0 0 10px 0;
    }

    .btn_del_sets {
        margin: 0 0 0 9px;
    }

    .hes-gallery{
        justify-content: center;
        margin-top: 30px;
    }

    .infoCoverArticle p{
        margin-left: 10px;
    }

    .edit_image{
        width: 100%;
        height: 200px;
    }

    .edit_image img{
        width: 100%;
        height: 200px;
    }
}