@media screen and (max-width: 900px){
    /****************
    *   POST EDIT   *
    *****************/
    .row{
        flex-direction: column;
    }
    
    #add_form_field {
        justify-content: flex-start;
        margin: 0 5px;
    }
}