.underNav{
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
}

/************
*   BUTTON  *
*************/
.see_and_delete{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

/************
*   FORM    *
*************/
#edit_post{
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem;
    color: white;
}

#edit_post label{
    font-weight: bolder;
}

.form-group{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}

.form-group input, .form-group select{
    padding: 10px;
    margin: 10px 0;
    background-color: LightGrey;
}

.row{
    display: flex;
    flex-direction: row;
}

.login_form{
    max-width: 480px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
}

.sf-toolbar-clearer{
    display: none !important;
}

#socialsNetwork{
    display: none;
}

/****************
*   TEXT AREA   *
*****************/
#edit_text_content{
    flex-basis: 100%;
}

label[for="article_text"]{
    margin: 0 0 10px 0;
}

.ck-content{
    color: black;
}

#datetime_article{
    margin: 5px;
    display: inline-block;
}

.onelinetxt{
    padding: 0 5px;
}

/************
*   URL SC  *
*************/
.api_data{
    flex-basis: 0;
    margin-top: 25px;
    transition: .5s ease;
}

.api_data li{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    animation: scaleBlur .5s ease;
}

.api_data .form-group{
    width: 100%;
}

.api_data li input{
    width: calc(100% - 20px);
    margin: auto;
}

.btn_del_sets{
    font-size: 20px;
    margin: 0 0 0 15px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    color: red;
}

#add_form_field{
    display:flex;
    justify-content: flex-end;
    margin: 0 5px 0 0;
}

.form-group.soundcloud_url{
    width: 100%;
}

fieldset.form-group{
    display: none;
}

/****************
*   INPUT FILE  *
*****************/
.custom-file{
    display: none;
}

label[for="article_imgsFile"]{
    padding: 2px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 35px;
    width: 130px;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
    text-align: center;
}

label[for="article_imgsFile"]:hover{
    transform: scale(1.05);
}

label[for="article_imgsFile"]:active{
    transform: scale(1);
}

input[name="cover"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/************
*   GALLERY *
*************/
#gallery{
    margin: 0 -5px;
}

.hes-gallery{
    margin: 0 5px;
    justify-content: flex-start;
}

.edit_image{
    height: 150px;
    transition: .5s ease;
    padding: 5px;
}

.edit_image img{
    width: 200px;
    height: 150px;
    margin: 0;
    cursor: zoom-in;
    box-shadow: 0 0 2px black;
}

.action_image{
    display: none;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}

.btn_del_pictures{
    color: red;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bolder;
}

.btn_del_pictures i:hover{
    transform: scale(1.15);
}

.edit_image:hover .action_image{
    display: flex;
    transform: translateY(-51px);
}