.error_page{
    max-width: 500px;
    margin: auto;
    padding: 150px 10px 0 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error_page h1{
    color: red;
    font-size: 3rem;
    font-family: var(--font_title);
}

.error_page p{
    text-align: center;
}

.error_page a{
    color: #78d3f0;
}
.error_page img{
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
}