/****************
*   KEYFRAMES   *
*****************/
@keyframes textMove{
  0%{
    text-shadow: 5px 0px 0 yellow, -5px 2px 0 blue;
  }
  25%{
    text-shadow: -5px 0px 0 yellow, 0px 5px 0 blue;
  }
  50%{
    text-shadow: 0px 5px 0 yellow, 5px 2px 0 blue;
  }
  75%{
    text-shadow: -5px 5px 0 yellow, 5px -5px 0px blue;
  }
  100%{
    text-shadow: -3px 5px 0 yellow, 4px -5px 0 blue;
  }
}

@keyframes slideDown{
    from{
        transform: translateY(-900px);
        filter: blur(50px);
    }
    to{
        transform: translateY(0);
        filter: blur(0);    
    }
}

/************
*   COVER   *
*************/
.welcome_view{
    animation: slideDown 3s ease;
    height: 900px;
    background: url("../img/cover.JPG") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px black;
}

.moving_title{
    font-weight: bold;
    text-shadow: -3px 5px 0 yellow, 4px -5px 0 blue;
    padding: 5rem;
    font-size: 3.5rem;
    cursor: pointer;
    animation: textMove 2s linear;
}

.moving_title:hover{
    animation: textMove .5s linear infinite;
}

/***********
*   BODY   *
************/
#welcome_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

/************
*   CARDS   *
*************/
.welcome_card{
    width: 540px;
}

.in_card_welcome{
    display: flex;
    flex-direction: column;
}

.col_wel_img{
    padding: 1.25rem;
    width: 100%;
    overflow: hidden;
    
}

.col_wel_txt{
    flex-basis: auto;
    text-align: justify;
}

.col_wel_txt_body{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.col_wel_txt_body h5{
    margin-bottom: .75rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.col_wel_txt_body p{
    margin-bottom: 1rem;
}

.col_wel_txt_body button{
    display: inline;
}

/************
*   BUTTON  *
*************/
.buttons{
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
}

.btn_more{
    text-align: center;
    height: 35px;
    background: teal;
    color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_modify{
    text-align: center;
    height: 35px;
    background: green;
    color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}