@media screen and (max-width: 600px){
    /************
    *   COVER   *
    *************/
    .welcome_view{
        padding: 110px 0 0 0;
    }

    .moving_title{
        top: 100px;
    }

    .moving_title h1{
        font-size: 4rem;
    }

    .moving_title p{
        font-size: 2rem;
        margin: 15px 0 0 0;
    }
}