/************
*   COVER   *
*************/
.welcome_view{
    height: 900px;
    background: url("../img/cover.JPG") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--black);
    position: static;
    z-index: 5;
    margin: auto;
    padding: 100px 0 0 0;
}

.moving_title{
    max-width: 1500px;
    margin: auto;
    padding: 0 0 0 50px;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
}