/****************
*   KEYFRAMES   *
*****************/
@keyframes rotate360{
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(0);
	}
}

@keyframes scaleBlur{
	from{
		transform: scale(0.9);
		filter: blur(5px);
	}
	to{
		transform: scale(1);
		filter: blur(0);
	}
}

@keyframes slideDown{
    from{
        transform: translateY(-20vh);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slideUp{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20vh);
    }

}

@keyframes slideLeft {
        from{
            transform: translateX(-50vw);
        }
        to {
            transform: translateX(0);
        }
}

@keyframes miniSlideLeft {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-200px);
    }
}

@keyframes miniSlideLeftReverse {
    from{
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideLeftReverse {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50vw);
    }
}

@keyframes slideRight {
        from{
            transform: translateX(50vw);
        }
        to {
            transform: translateX(0);
        }
}

@keyframes slideRightReverse {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(50vw);
    }
}