@media screen and (max-width: 600px){
    #membres{
        margin: unset;
    }
    
    #article_cover{
        height: 600px;
    }

    .article_image_cover{
        height: 600px;
    }

    .members_picture figure{
        margin: 50px 0 0 0;
    }
    
    .members_picture figure a, .release_figure a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_member{
        width: 200px;
        height: 200px;
    }

    .release_figure{
        margin: 70px 20px 0 20px;
    }
    
    .img_release{
        width: 100%;
    }

    .release_figure{
        width: 100%;
        height: 300px;
    }

    .release_figure img{
        height: 300px;
    }

    .img_release{
        height: 150px;
    }
}