:root{
	--grey: #8C8C88;
	--red: #A6774E;
	--white: #F2B279;
	--blue:#404040;
	--black: #0D0D0D;
	--font_title: 'Teko', sans-serif;
	--font_text: 'Noto Sans TC', sans-serif;
}

/**
 * Fonts
 */
$font_title: 'Teko', sans-serif;
$font_text: 'Noto Sans TC', sans-serif;

/**
 * Media queries
 */
$tablet-width: "screen and (max-width: 900px)";
$phone-width: "screen and (max-width: 600px)";