{% extends 'base.html.twig' %}
{% block header %}
    {% include 'articles/meta.html.twig'%}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/articles.css">
{% endblock %}
{% block body %}
<section id="articles">
  <section id="article_cover">
  {% if format == 'news' %}
  <img class="article_image_cover" src="/img/Arthur/DSCF6344.jpg" alt="Cover CDLM members">
  <div class="incover">
      <div class="article_cover_title">
        <h1 class="part_title">{% trans %}Les news du chant{% endtrans %}</h1>
      </div>
  </div>
  {% elseif format == 'publicEvent' %}
  <img class="article_image_cover" src="/img/18556493_10158695312680298_6402872989759344248_o.jpg" alt="Cover CDLM members">
  <div class="incover">
      <div class="article_cover_title">
        <h1 class="part_title">{% trans %}Les évènements{% endtrans %}</h1>
      </div>
  </div>
  {% elseif format == 'privateEvent' %}
  <img class="article_image_cover" src="/img/Arthur/DSCF6310.jpg" alt="Cover CDLM members">
  <div class="incover">
      <div class="article_cover_title">
        <h1 class="part_title">{% trans %}Les évènements privés{% endtrans %}</h1>
      </div>
  </div>
  {% endif %}
  </section>
  <div id="welcome_cards">
  {% for article in articles %}
    <div class="welcome_card">
      <div class="in_card_welcome">
        <div class="col_wel_img">
        {% include 'articles/cover.html.twig' %}
        </div>
        <div class="col_wel_txt">
          <div class="col_wel_txt_body">
            <h5>{{ article.title }}</h5>
            <p>{{ article.text|replace({'<p>&nbsp;</p>': '', '&nbsp;': ''})|striptags|slice(0,150) }} ...</p>
            <div class="buttons">
              <a href="{{ path("article", {"format" : article.format, "id" : article.id }) }}" class="a_btn a_btn btn_more">More...</a>
              {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path("editPost", { "id" : article.id }) }}" class="a_btn btn_modify">Modifier</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
{% endblock %}