{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Chant de la Machine, ce site rassemble l'association organisatrice d'évènements, le label de musique et bien d'autre choses.{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Bienvenue, votre nouvelle vision du son commence ici</h1>
</div>

<div class="row">
{% for article in articles %}
  <div class="card mb-3 m-auto" style="width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://via.placeholder.com/300" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.text[:150] ~ '...' }}</p>
          <a href="{{ path("article", {"format" : article.format, "id" : article.id }) }}" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<!--
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Set</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Abribus</td>
      <td><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/681357290&color=%230e0d26&inverse=true&auto_play=false&show_user=true"></iframe></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Alajos</td>
        <td><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/679496500&color=%230e0d26&inverse=true&auto_play=false&show_user=true"></iframe></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>TRZ</td>
        <td><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/679498136&color=%230e0d26&inverse=true&auto_play=false&show_user=true"></iframe></td>
    </tr>
  </tbody>
</table>
-->

{% endblock %}
