/************
*   BUTTON  *
*************/
.buttons{
    display: flex;
    flex-basis: 45%;
	justify-content: center;
	font-weight: bold;

	& a:hover{
		background-color: var(--grey);
		color: white;
	}
}

.a_btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
    background-color: #D3D3D3;
	height: 35px;
	width: 110px;
	font-weight: bold;
	cursor:pointer;
	transition: .3s ease;

	&:hover {
		border: 2px solid white;
		box-shadow: 0 0 3px white;
	}

	&:active {
		transform: scale(0.95);
	}
}

.btn_more {
    border: 2px solid black;
}

.btn_modify {
	border: 2px solid black;
}

.btn_del{
	border: 2px solid red;
}

.btn_more:hover{
    text-align: center;
}

.btn_modify:hover{
    text-align: center;
}

.btn_del:hover{
	text-align: center;
}

.back_arrow{
	width: 40px;
    display: block;
    padding: 5px;
	transition: .5s ease;
}

.back_arrow:hover{
	transform:scale(1.1);
}

.back_arrow:focus{
	transform:scale(1);
}

#delete_article_btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1010px;
	margin: auto;
	
	@media #{$phone-width}{
		justify-content: flex-start;
        margin: 0 10px 10px 10px;
        width: calc(100% - 20px);
	}
}
.sticky_edit_menu{
    width: 120px;
    height: 100%;
    position: sticky;
	top: 100px;
	
	@media #{$phone-width}{
		width: 100%;
        top: 80px;
	}
}

.see_and_delete{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
	flex-direction: column;
	
	& a{
		width: 106px;
		height: 30px;
		margin: 0 5px;
	}

	@media #{$phone-width}{
		flex-direction: row;
        justify-content: flex-start;
		margin: 0;
		
		& .form-group{
			margin: 0;
		}
	}
}

/********************
*   SOCIAL NETWORK  *
*********************/
.contact_socials{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	@media #{$phone-width}{
		justify-content: center;
	}
}

.socials_logo{
	padding: 0 10px;
	transition: .5s ease;
}

.socials_logo:hover{
	transform: scale(1.05);
}

.socials_logo:first-child{
	padding: 0 10px 0 0;

	@media #{$phone-width}{
		padding: 0;
	}
}

.socials_logo img{
	width: 50px;
	height: 36px;
	object-fit: scale-down;
	filter: invert(1);
}

.socials_logo img[alt="logo email"]{
	width: 40px;
	height: 36px;
	@media #{$tablet-width}{
		width: 30px;
		height: 26px;
	}
}

.socials_logo img[alt="logo soundcloud"]{
	width: 57px;
	height: 45px;
	@media #{$tablet-width}{
        width: 47px;
        height: 35px;
    }
}

.socials_logo img[alt="logo facebook"]{
	width: 42px;
	height: 42px;
	@media #{$tablet-width}{
		width: 32px;
        height: 32px;
    }
}

.socials_logo img[alt="logo instagram"]{
	width: 45px;
	height: 45px;
	@media #{$tablet-width}{
		width: 35px;
        height: 35px;
    }
}
