/************
*   COVER   *
*************/
.welcome_view{
    height: 900px;
    background: url("/img/cover.JPG") no-repeat center;
    background-size: cover;
    box-shadow: 0 0 5px var(--black);
    position: static;
    z-index: 5;
    margin: auto;
    padding: 150px 0 0 0;

    @media #{$tablet-width}{
        height: 600px;
    }

    @media #{$phone-width}{
        padding: 110px 0 0 0;
        height: 600px;
    }
}

.moving_title{
    max-width: 500px;
    margin: 0 auto 50px auto;
    color: whitesmoke;
    text-shadow: 0 0 5px black;
    position: sticky;
    top: 150px;
    text-align: center;

    @media #{$tablet-width}{
        font-size: 2rem;
        top: 100px;
        padding: 0 0 0 30px;
    }

    @media #{$phone-width}{
        top: 90px;
        padding: 0;
        text-align: center;
        
        & h1{
            font-size: 4rem;
        }

        & p{
            font-size: 2rem;
            margin: 15px 0 0 0;
        }
    }
}

.moving_title h1{
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--font_title);
}

.moving_title p{
    font-size: 3rem;
    margin: 20px 0 0 0;
    font-family: var(--font_title);
}

.format_article{
    position: absolute;
    top: 0;
    color: lightgray;
    padding: 7px 10px;
    background-color: rgba(0,0,0,0.5);
    width: calc(100% - 20px);
    transition: 1s ease;
}

.welcome_card:hover .format_article{
    transform: translateY(-30px);
}