/****************
*   FORM LABEL  *
*****************/
.moving-label{
    position: relative;
    pointer-events: none;
    bottom: 40px;
    left: 20px;
    color: black;
    font-weight: 900;
    transition: .5s ease;
}

input:focus ~ .moving-label,
input:not(:focus):valid ~ .moving-label{
    bottom: 70px;
    left: 10px;
    color: white;
    font-weight: 100;
}