/***********
*   BODY   *
************/
#welcome_cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
	height: auto;
	max-width: 1500px;
	margin: auto;
}

.underNav{
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
}

#edit_post{
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem;
    color: white;
}