/************
*	FOOTER	*
*************/
footer{
	width: 100%;
	padding: 60px 0;
	margin: 150px 0 0 0;
	background-color: rgba(255,255,255,0.2);
	
	@media #{$tablet-width}{
		justify-content: center;
        align-items: center;
	}
}

.footer{
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;

	@media #{$phone-width}{
		flex-direction: column;
	}
}

.footer_element{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 50%;

	@media #{$phone-width}{
		flex-direction: column;
	}
}

.logo_footer{
	align-items: center;
	justify-content: flex-end;

	@media #{$tablet-width}{
		align-items: flex-end;
	}
}

@media #{$phone-width}{
	.footer_element.logo_footer{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
    }
}

.footer_card{
	width: 200px;
    margin: 30px 0;
    color: black;
	border-radius: 3px;
	
	@media #{$tablet-width}{
		width: 170px;
	}

	@media #{$phone-width}{
		margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
	}
}

@media #{$phone-width}{
	.footer_card_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#logo_footer{
	object-fit: cover;
	height: 175px;

	@media #{$tablet-width}{
		height: 100px;
	}

	@media #{$phone-width}{
		width: 100px;
        object-fit: cover;
	}
}

#logo_footer_name{
	font-size: 2.2rem;
	font-family: var(--font_title);
    font-weight: 700;
	width: 38%;
	margin-left: 30px;

	@media #{$tablet-width}{
		font-size: 1.3rem;
	}

	@media #{$phone-width}{
		font-size: 1.2rem;
        margin-left: 23px;
        width: 100px;
	}
}

.footer h2{
	margin: 10px 0 0 0;
}

.footer h3{
	margin: 12px 0 5px 0;
	font-size: 0.9rem;
    font-weight: 100;
}

.footer li{
	margin: 5px 0 0 5px;
}

.footer_card p{
	font-size: 0.8rem;
	line-height: 15px;
}

.footer_card a{
	color:#b3bcbf;
	font-size: 0.8rem;
	transition: .5s ease;
}

.footer_card a:hover{
	color: white;
}