{% extends 'base.html.twig' %}

{% block style %}
{% endblock %}
{% block body %}
<div class="error_page">
    <h1>Whaaat ! Erreur : {{ status_code }}</h1>
    <p>Que souhaites tu faire :<br>
        Appeler un <a href="{{ path('contact')}}">orga</a> ou remettre de l'essence dans le <a href="{{ path('home_public') }}">générateur</a>.
    </p>
    <img src="{{ asset('build/img/police_attack.jpg')}}" alt="error police attack">
</div>
{% endblock %}