{% extends 'mailer/base.html.twig' %}
{% block title %}Message du formulaire de contact envoyé du site CDLM.space{% endblock %}
{% block body %}
    <h1>Message de la part de {{ contact.surname }} {{ contact.name }}</h1>
    <p>Répondre à l'adresse : <code>{{contact.email}}</code></p>
    <div style="
        background-color: lightgrey;
        padding: 10px;
        margin: auto;
        width: 70%;
        border-radius: 3px;
    ">
        <p>{{contact.text}}</p>
    </div>
{% endblock %}