{% extends 'mailer/base.html.twig' %}
{% block title %}Changement de mot de passe
{% endblock %}
{% block body %}
	<div style="
			    text-align: center;
			    max-width: 520px;
			    padding: 10px;
			    margin: auto;
			">
		<h1>Changement de mot de passe sur le site CDLM.space</h1>
		<p>Un lien de changement de mot de passe vient d'être demander sur le site CDLM.space, si tu n'es pas à l'origine de cette demande ignore ce message.</p>
		<p>
			<a href="https://cdlm.space{{url}}">Inscription</a>
		</p>
		<p>Si le lien ne marche pas, copie-colle l'url ci-dessous dans la barre de ton navigateur :</p>
		<code>https://cdlm.space{{url}}</code>
	</div>
{% endblock %}
